.hero {
    width: 100%;
    max-width: min(100vw, 1920px);
    overflow: hidden;
}

.hero-image {
    width: 100%;
}
.hero-image-blured {
    z-index: -1;
    position: absolute;
    width: 100%;
    max-width: min(100vw, 1920px);
    filter: blur(50px);
    transform: scale(1, 1.1);
}
